.cartItem {
  display: flex;
  padding: 0.5rem 0.3rem;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  position: relative;

  &__img {
    height: 5rem;
    border-radius: 1rem;
  }

  &__description {
    span {
      color: #000;
      font-size: 120%;
      margin-left: 0.3rem;
      font-weight: 600;
    }
  }
}
